pipeline/Master.json
{
	"name": "Master",
	"properties": {
		"activities": [
			{
				"name": "WorkspaceWebAPI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('Get Access Token').output.access_token)",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EachWorkspace",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "WorkspaceWebAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('WorkspaceWebAPI').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Execute_DashboardChildAPI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Dashboard_Child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Bearer_Token": {
										"value": "@activity('Get Access Token').output.access_token",
										"type": "Expression"
									},
									"input": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute_DataflowChildAPI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Dataflow_Child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"input": {
										"value": "@item()",
										"type": "Expression"
									},
									"Bearer_Token": {
										"value": "@activity('Get Access Token').output.access_token",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute_DatasetChildAPI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Dataset_Child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"input": {
										"value": "@item()",
										"type": "Expression"
									},
									"Bearer_Token": {
										"value": "@activity('Get Access Token').output.access_token",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute_ReportChildAPI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Report_Child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"input": {
										"value": "@item()",
										"type": "Expression"
									},
									"Bearer_Token": {
										"value": "@activity('Get Access Token').output.access_token",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Workspace_Data_Dump",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Workspaces2]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "String"
									},
									"isOnDedicatedCapacity": {
										"value": {
											"value": "@item().isOnDedicatedCapacity",
											"type": "Expression"
										},
										"type": "String"
									},
									"isReadOnly": {
										"value": {
											"value": "@item().isReadOnly",
											"type": "Expression"
										},
										"type": "String"
									},
									"name": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"type": {
										"value": {
											"value": "@item().type",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Access Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://login.microsoftonline.com/30bf9f37-d550-4878-9494-1041656caf27/oauth2/token",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=c434c045-a98e-4689-9087-7e2240aa07ba&client_secret=FSL8Q~9FiYQUfTLHwgmgAU_fpRU2U.Awc8WZUbC2&resource=https://analysis.windows.net/powerbi/api",
						"type": "Expression"
					}
				}
			},
			{
				"name": "StartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDate",
					"value": {
						"value": "@formatDateTime(adddays(utcnow(),pipeline().parameters.Day),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EndDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDate",
					"value": {
						"value": "@formatDateTime(adddays(utcnow(),pipeline().parameters.Day),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute sub-activity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "EndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "sub-activity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Bearer_Token": {
							"value": "@activity('Get Access Token').output.access_token",
							"type": "Expression"
						},
						"startDateTime": {
							"value": "@concat('''',variables('StartDate'),'T00:00:00.000Z','''')",
							"type": "Expression"
						},
						"endDateTime": {
							"value": "@concat('''',variables('EndDate'),'T23:59:59.000','''')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Day": {
				"type": "int",
				"defaultValue": -1
			}
		},
		"variables": {
			"StartDate": {
				"type": "String"
			},
			"EndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "new"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-14T08:42:53Z"
	}
}