templates/DashboardAPI/DashboardAPI.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"linkedService_workspaceapi": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DashboardAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WorkspaceWebAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',pipeline().parameters.Bearer_Token)",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "EachWorkspace",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "WorkspaceWebAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('WorkspaceWebAPI').output.value)",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute_DashboardChildAPI",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "DashboardChildAPI",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Bearer_Token": {
												"value": "@pipeline().parameters.Bearer_Token",
												"type": "Expression"
											},
											"input": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Bearer_Token": {
						"type": "string",
						"defaultValue": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSIsImtpZCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSJ9.eyJhdWQiOiJodHRwczovL2FuYWx5c2lzLndpbmRvd3MubmV0L3Bvd2VyYmkvYXBpIiwiaXNzIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvMzBiZjlmMzctZDU1MC00ODc4LTk0OTQtMTA0MTY1NmNhZjI3LyIsImlhdCI6MTY2ODE2OTU4NywibmJmIjoxNjY4MTY5NTg3LCJleHAiOjE2NjgxNzM2ODgsImFjY3QiOjAsImFjciI6IjEiLCJhaW8iOiJBVlFBcS84VEFBQUFBbE5na0ZnMExtc0ZkeGdNdGxsT3A3c2VpYzM1SjcxcWI2Y3h3VUQ2MVI2YzhwQ2g2eTM5a1YxY0xtQjlPTENxejRIQnRaRGVsaTRUU2t5NVVYUkhTY2xHeldCbHgyaWpjQlM3Sjk1Zlk5az0iLCJhbXIiOlsicHdkIiwibWZhIl0sImFwcGlkIjoiMThmYmNhMTYtMjIyNC00NWY2LTg1YjAtZjdiZjJiMzliM2YzIiwiYXBwaWRhY3IiOiIwIiwiZmFtaWx5X25hbWUiOiJCYW5kbGFtdWRpIiwiZ2l2ZW5fbmFtZSI6IlNyaWxla2hhIiwiaXBhZGRyIjoiMTgzLjgyLjExOS4yNiIsIm5hbWUiOiJTcmlsZWtoYSBCYW5kbGFtdWRpIiwib2lkIjoiYzg5NWMwZWUtNjA4Zi00MTliLThkYTItNTE1NjA5ZDA1OWU0IiwicHVpZCI6IjEwMDMyMDAyMDI3OUZEQUEiLCJyaCI6IjAuQVVZQU41LV9NRkRWZUVpVWxCQkJaV3l2SndrQUFBQUFBQUFBd0FBQUFBQUFBQUJHQUNZLiIsInNjcCI6IkFwcC5SZWFkLkFsbCBDYXBhY2l0eS5SZWFkLkFsbCBDYXBhY2l0eS5SZWFkV3JpdGUuQWxsIENvbnRlbnQuQ3JlYXRlIERhc2hib2FyZC5SZWFkLkFsbCBEYXNoYm9hcmQuUmVhZFdyaXRlLkFsbCBEYXRhZmxvdy5SZWFkLkFsbCBEYXRhZmxvdy5SZWFkV3JpdGUuQWxsIERhdGFzZXQuUmVhZC5BbGwgRGF0YXNldC5SZWFkV3JpdGUuQWxsIEdhdGV3YXkuUmVhZC5BbGwgR2F0ZXdheS5SZWFkV3JpdGUuQWxsIFBpcGVsaW5lLkRlcGxveSBQaXBlbGluZS5SZWFkLkFsbCBQaXBlbGluZS5SZWFkV3JpdGUuQWxsIFJlcG9ydC5SZWFkLkFsbCBSZXBvcnQuUmVhZFdyaXRlLkFsbCBTdG9yYWdlQWNjb3VudC5SZWFkLkFsbCBTdG9yYWdlQWNjb3VudC5SZWFkV3JpdGUuQWxsIFRlbmFudC5SZWFkLkFsbCBUZW5hbnQuUmVhZFdyaXRlLkFsbCBVc2VyU3RhdGUuUmVhZFdyaXRlLkFsbCBXb3Jrc3BhY2UuUmVhZC5BbGwgV29ya3NwYWNlLlJlYWRXcml0ZS5BbGwiLCJzaWduaW5fc3RhdGUiOlsia21zaSJdLCJzdWIiOiJldXpJUjRTY1Y2VmRHTnpRV1R3Slo3Y05MaEpkWWZ2SHVkNFpmMjNwbExJIiwidGlkIjoiMzBiZjlmMzctZDU1MC00ODc4LTk0OTQtMTA0MTY1NmNhZjI3IiwidW5pcXVlX25hbWUiOiJTcmlsZWtoYS5CQHNucC5jb20iLCJ1cG4iOiJTcmlsZWtoYS5CQHNucC5jb20iLCJ1dGkiOiJBUVIyd2dhRmMweWdoekF0bjdZS0FBIiwidmVyIjoiMS4wIiwid2lkcyI6WyJiNzlmYmY0ZC0zZWY5LTQ2ODktODE0My03NmIxOTRlODU1MDkiXX0.h2j6EeRHJB_L0d2w5dspVs3wSMZUP3qcyLP4iJ5iT9Kkr8qwnjyriZLX1MT18AJ2N5l4g0uRjBdYOn0C2iX8XMHtguvx8OZVXpbUIuBq_83cHAhv0h6V237_6X5MaN_tp1nV221LN-R0_DJJjTBlc3bm6VQa1eY7H5l_7B5nTgGHIdLbd1wrAyHmhcbYqPUbwCOnVdVO2g39xbajhfBhTxusA0VYEqicUiz57g-oF-JvNz2I3tRuJ4SajXLnb2onx29TKxlJs3TfWcHBCOLwAQaS2QYs79oIwV-MQ4LCHK8iKR8bP_8CXLE4bcyMWJ85GHgXPtQeJC4gw7w-f3bvyA"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T08:42:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DashboardChildAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DashboardChildAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DashboardWebAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.input.id,'/dashboards')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',pipeline().parameters.Bearer_Token)",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "EachDashboard",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DashboardWebAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('DashboardWebAPI').output.value)",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Dashboard_Data_Dump",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Dashboards]",
										"storedProcedureParameters": {
											"displayName": {
												"value": {
													"value": "@item().displayName",
													"type": "Expression"
												},
												"type": "String"
											},
											"embedUrl": {
												"value": {
													"value": "@item().embedUrl",
													"type": "Expression"
												},
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "String"
											},
											"isReadOnly": {
												"value": {
													"value": "@item().isReadOnly",
													"type": "Expression"
												},
												"type": "String"
											},
											"subscriptions": {
												"value": {
													"value": "@item().subscriptions",
													"type": "Expression"
												},
												"type": "String"
											},
											"users": {
												"value": {
													"value": "@item().users",
													"type": "Expression"
												},
												"type": "String"
											},
											"webUrl": {
												"value": {
													"value": "@item().webUrl",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('linkedService_workspaceapi')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Bearer_Token": {
						"type": "string"
					},
					"input": {
						"type": "object"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-11-17T10:02:50Z"
			},
			"dependsOn": []
		}
	]
}