templates/workspace/workspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"linkedService_workspaceapi": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/workspace')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WorkspaceWebAPI",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Access Token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',activity('Get Access Token').output.access_token)",
									"type": "Expression"
								}
							},
							"authentication": {
								"type": "ServicePrincipal",
								"userTenant": "30bf9f37-d550-4878-9494-1041656caf27",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "EachWorkspace",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "WorkspaceWebAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('WorkspaceWebAPI').output.value)",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Workspace_Data_Dump",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[Workspaces2]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "String"
											},
											"isOnDedicatedCapacity": {
												"value": {
													"value": "@item().isOnDedicatedCapacity",
													"type": "Expression"
												},
												"type": "String"
											},
											"isReadOnly": {
												"value": {
													"value": "@item().isReadOnly",
													"type": "Expression"
												},
												"type": "String"
											},
											"name": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"type": {
												"value": {
													"value": "@item().type",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('linkedService_workspaceapi')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Get Access Token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://login.microsoftonline.com/30bf9f37-d550-4878-9494-1041656caf27/oauth2/token",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "grant_type=client_credentials&client_id=85db3560-2d58-4e6c-b350-2da05edd854e&client_secret=y8L8Q~ysn511tphgaHTmTDljwZE7bP3ba9cs7dix&resource=https://analysis.windows.net/powerbi/api",
								"type": "Expression"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2022-11-17T10:02:50Z"
			},
			"dependsOn": []
		}
	]
}